<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <nav>
        <div id="navContainer">
            <div id="navLogo"><a href="/anasayfa">B E F I T</a></div>
            <ul id="ulNav">
                <li>
                    <a href="/egitimler">Eğitimler</a>
                </li>
                <li>
                    <form class="form-inline">
                        <input class="form-control" type="search" placeholder="Ne yapmak istersiniz ?" aria-label="Search">
                    </form>
                </li>
                <li>
                    <a href="/program">Bugün Yapmam Gerekenler</a>
                </li>
                <li>
                    <a href="">Sepetim</a>
                </li>
                <li>
                    <a href="/profil">Profil</a>
                </li>
            </ul>
        </div>
    </nav>

    <div style="clear: both;"></div> 

    <section class="nav-alti">
        <div id="bilgi">
            Eğitmen olmak için iletişime geçin.
        </div>
    </section>
    
</body>
