{% extends "layout.html" %}
    
{% block body %}

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head>

    <section class="jumbotron" 
            style= "background-image: url('../static/images/background2.png');
            background-size: 100%;
            background-repeat: no-repeat;
            height: 400px;
            color: white;">

        <div class="container">
            <h1 class="display-3">Dilediğiniz yerde eğitiminize devam edin.</h1>
            <p style="font-size: 25px; color: #ee6868; ">
                Kim evinde özel eğitmen eşliğinde çalışıpta sıkı bir vücuda sahip olmak istemez ki ?
            </p>
            <p>
                    <a href="/register">
                        <button style="color: white; height: 48px; width: 135px; background-color: #ee6868; border-radius: 20px; border-color: rgb(241, 179, 177); font-size: 20px;">
                            Bize Katılın
                        </button>
                    </a>
            </p>
        </div>
    </section>


    <section class="hedefler">
        <h2 class="hedefler-title">B E F I T İle Hedeflerinize Ulaşın</h2>
        <ul class="hedefler-list">
            <li class="hedefler-item">
                <h3 class="hedefler-item-title">
                    <span>
                        VERİM
                        <div></div>               
                        <small>En iyi eğitmenlerden vücudunuza en uygun eğitimleri alın.</small>
                    </span>
                </h3>
            </li>
            <li class="hedefler-item">
                <h3 class="hedefler-item-title">
                    <span>
                        BÜTÜNLÜK
                        <div></div>               
                        <small>Eğitmenlerin yanında diyetisten yardımına mı ihtiyacınız var, o zaman 
                            doğru yerdesiniz.
                        </small>
                    </span>
                </h3>
            </li>
            <li class="hedefler-item">
                <h3 class="hedefler-item-title">
                    <span>
                        ETKİLEŞİM
                        <div></div>               
                        <small>Eğitmeninize yapacağınız geri dönüşlerle ve kuracağınız iletişimle hedefinize
                            daha hemen ulaşın.
                        </small>
                    </span>
                </h3>
            </li>
            <li class="hedefler-item">
                <h3 class="hedefler-item-title">
                    <span>
                        DEĞERLENDİRME
                        <div></div>               
                        <small>Eğitmenlerinizi değerlendirin ve diğer BEFIT kullanıcılarına
                            ışık tutun.
                        </small>
                    </span>
                </h3>
            </li>
        </ul>


    </section>

    

{% endblock body %}