{% extends "layout2.html" %}

{% block body %}

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/program.css') }}">
    </head>

    <section class="nav-alti">
        <div id="bilgi">#</div>
    </section>

    <section class="program-title">
        <h1> Programlarım </h1>
    </section>

    <section class="sec1">
        <div id="img-name">-- ile Vücut Geliştirme Programı</div>
        <img src="../static/images/egitmen1.jpg" alt="">

        <ul class="sec1-ul">
            <li>
                <a href="">Incline Dumbbell Curl 3x12</a>
                    <input type="number">                
            </li>
            <li>
                <a href="">Hammer Curl 3x10</a>
                    <input type="number">  
            </li>
            <li>
                <a href="">Hammer Curl 3x12</a>
                    <input type="number">  
            </li>
            <li>
                <a href="">Concentration Curl 3x12</a>
                    <input type="number">  
            </li>
            <li>
                <a href="">Ez-Bar Reverse Curl 3x8</a>
                    <input type="number">  
            </li>
            <li>
                <a href="">High-Pulley Cable Curl 3x10</a>
                    <input type="number">  
            </li>
        </ul>

        <iframe class="video" 
            src="https://www.youtube.com/embed/zdQOmPMGjOY" 
            allowfullscreen>
        </iframe>

        <div style="clear: both;"></div>

        <div class="sec1-buttons">
            <ul>
                <li>
                    <a href="">
                        <button>Verileri Gönder ve Antrenmanı Bitir</button>
                    </a>
                </li>
                <li>
                    <a href="">
                        <button>Eğitmenle İletişime Geç</button>
                    </a>
                </li>
                <li>
                    <a href="/profil">
                        <button>Eğitmeni Değerlendir</button>
                    </a>
                </li>
                <li>
                    <a href="/profil">
                        <button>Vücut Bilgilerini Güncelle</button>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <div style="clear: both;"></div>

    <section class="sec2">
        <div id="img-name">-- ile Diyet Programı</div>
        <img class="image1" src="../static/images/egitmen2.jpg" alt="">

        <div class="kahvalti">
            <h4>Kahvaltı</h4>
            <ul>
                <li>
                    2 adet yumurtadan az yağda omlet                    
                </li>
                <li>
                    2 parmak beyaz peynir                    
                </li>
                <li>
                    Bolca söğüş                    
                </li>
            </ul>
        </div>

        <div class="ogle">
            <h4>Öğle</h4>
            <ul>
                <li>
                    2 adet rendelenmiş kabak sote (1 tatlı kaşığı zeytinyağında sotelenmiş)                    
                </li>
                <li>
                    1 kase yoğurt (bolca baharat ve ince kıyım dereotu, maydanoz, nane eklenmiş)
                </li>
                <li>
                    1 bardak kefir
                </li>
                <li>
                    1 porsiyon meyve
                </li>

            </ul>
        </div>

        <div class="aksam">
            <h4>Akşam</h4>
            <ul>
                <li>
                    2 adet julyen doğranmış çiğ kabak                    
                </li>
                <li>
                    1 kase yoğurt
                </li>
                <li>
                    2 tam ceviz
                </li>
                <li>
                    Dereotu, kekik, pulbiber
                </li>
            </ul>
        </div>

        
        <img class="image2" src="../static/images/diet.jpg" alt="">

        <div style="clear: both;"></div>

        <div class="sec2-buttons">
            <ul>
                <li>
                    <a href="">
                        <button>Eğitmenle İletişime Geç</button>
                    </a>
                </li>
                <li>
                    <a href="/profil">
                        <button>Eğitmeni Değerlendir</button>
                    </a>
                </li>
                <li>
                    <a href="/profil">
                        <button>Vücut Bilgilerini Güncelle</button>
                    </a>
                </li>
            </ul>
        </div>
    </section>

{% endblock body %}